<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body style="margin: 0; font-family: 'Roboto', sans-serif">
<div name="header" style="padding: 10px; background-color: #0d2232; text-align: center; ">
    <img src="../../assets/logo-kk.png" style="width: 200px;">
</div>
<div  style="padding: 10px;>
  <h5>maial</h5>
</div>
<div name="footer" style="padding: 10px; background-color: #0d2232; text-align: left; ">
  <div style="width:30%;">
<h5 style="color: white; margin: 0;">
  Socialgade 13 <br>
  9988 Mentorkøbing <br>
  Tlf.: 007 007 0059 <br>
  Mail: <a href="mailto:kontakt@kommunekontakt.dk">kontakt@kommunekontakt.dk</a> <br>
</h5>
  </div>
</div>
</body>
</html>
